@media screen and (min-width:1921) {
    .blogfull-image-folder img {
        height: 750px;
        width: 100%;
    }

    .blog-full-blog-box-section h2 {
        font-size: 42px;
        margin: 0 0 10px;
    }

    .blog-full-blog-box-section span {
        font-size: 26px;
    }

    .blog-full-blog-box-section p {
        font-size: 29px;
        line-height: 57px;
    }

    .logo-folder img {
        width: 70%;
    }

    .menu-folder li a {
        font-size: 20px;
    }

    .social_media ul a {
        font-size: 18px;
    }

    .passtion-inspirational-left-section .passtion-inspirational-left-folder1:nth-child(4) {
        bottom: 410px;
        left: 2%;
        position: relative;
        width: 196px;
        z-index: 10;
    }

    .fexlibel-pricing-popup-folder {
        left: 0;
        margin: auto;
        max-width: 898px;
        position: fixed;
        right: 0;
        top: 50%;
        width: 100%;
        z-index: 99;
    }

    .flexivel-pricing-popup h2 {
        font-size: 42px;
    }

    .flexivel-pricing-popup {
        display: flex;
        gap: 20px;
    }

    .form-inner-input {
        font-size: 23px;
        padding: 20px 0 20px 9px;
    }

    .form-submit-btns {
        max-width: 169px;
        font-size: 23px;
    }

    .close-btn-folder {
        font-size: 29px;
    }

    .location-section {
        max-width: 743px;
    }

}

@media (min-width: 1420px) and (max-width: 1920px) {

    .info-blog-box-section h4 {
        font-size: 18px;
        margin-top: 6px;
    }

    .info-image img {
        width: 68px;
    }

    .info-blog-box-section {
        padding: 71px 0;
        width: 480px;
    }

    .info-blog-box-section:nth-child(6),
    .info-blog-box-section:nth-child(7) {
        width: 480px;
    }

    .space-work-room-blog-box-section {
        max-width: 417px;
    }

    .space-work-image img {
        height: 281px;
    }

    .space-work-room-blog-box-section span {
        font-size: 19px;
    }

    .space-work-room-blog-box-section h2 {
        font-size: 32px;
    }

    .space-work-room-blog-box-section p {
        font-size: 20px;
    }

    .space-work-btn {
        font-size: 22px;
        width: auto;
    }

    .passtion-inspirational-left-image1 .left-img {
        width: 387px;
    }

    .passtion-inspirational-right-section p {
        font-size: 21px;
        max-width: 627px;
    }

    .passtioninspriractionwrapper {
        max-width: 1359px;
    }

    .flexible-price-folder1 span {
        font-size: 32px;
        position: relative;
        right: -2%;
        top: -283px;
    }

    .flexible-price-folder {
        max-width: 1359px;
    }

    .flexible-price-folder2 h2 {
        font-size: 31px;
    }

    .flexible-price-des-folder1 p,
    .flexible-price-folder2 p {
        font-size: 20px;
        margin-top: 7px;
    }

    .flexible-price-btn {
        font-size: 21px;
    }

    .our-gallery-folder3 {
        max-width: 317px;
    }

    .our-gallery-image-folder1 {
        max-width: 146px;
    }

    .our-gallery-folder2 {
        max-width: 310px;
    }

    .gmap_canvas {
        max-width: 1300px;
    }

    .Kodesk-difference-folder1 h2 {
        font-size: 21px;
    }

    .flexible-price-blog-box-section {
        width: 428px !important;
    }

    .our-gallery-image3 img {
        height: 468px;
    }

    .words-about-our-services-blog-box-section p {
        font-size: 21px;
        margin: 15px 0 17px;
        max-width: 475px;
    }

    .words-about-our-services-stars {
        font-size: 18px;
    }

    .words-about-our-services-image img {
        width: 75px;
    }

    .words-about-our-services-title h2 {
        font-size: 26px;
    }

    .words-about-our-services-title span {
        font-size: 22px;
    }

    .our-gallery-logo-image img {
        width: 186px;
    }

    .our-gallery-logo-image {
        width: 208px;
    }

    .explore-latest-blog-box-section {
        width: 417px;
    }

    .explore-latest-title h2 {
        font-size: 23px;
        margin: 15px 0px 0px 36px;
    }

    .explore-latest-title h2 {
        font-size: 23px;
        margin: 15px 0px 0px 36px;
    }

    .exlpore-latest-date-section {
        margin: 14px 39px;
        padding-top: 14px;
    }

    .book-tour-folder {
        max-width: 1321px;
    }

    .Get-Inspired-Collaboration {
        max-width: 1324px;
        margin-bottom: -161px;
    }

    .Get-Inspired-Collaboration span {
        font-size: 22px;
    }

    .Appointment-btn,
    .call-btn {
        font-size: 23px;
        padding: 14px 32px;
    }

    .footer-copy .social_media a {
        font-size: 28px;
    }

    .copy_text p span {
        font-size: 18px;
    }

    .footer-copy {
        height: 292px;
        padding-top: 50px;
        padding-bottom: 21px;
        width: 100%;
    }

    .container {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }

    .flexible-price-folder1 span {
        font-size: 32px;
        position: relative;
        right: -2%;
        top: -225px;
    }

    .info-folder {
        margin: 0px;
    }

    .explore-latest-title p {
        font-size: 16px;
        margin: 9px auto 25px 40px;
        max-width: 326px;
    }
}

@media only screen and (max-width: 1024px) {
    .home-slider-text-folder1 {
        position: absolute;
        top: 50%;
        right: 7%;
        transform: translateY(-50%);
        width: 410px;
        height: 410px;
        padding: 10px 21px;
    }

    .home-slider-text-folder2 {
        position: absolute;
        top: 50%;
        left: 7%;
        transform: translateY(-50%);
        width: 410px;
        height: 410px;
        padding: 10px 21px;
    }

    .home-slider-text-folder1 h2,
    .home-slider-text-folder2 h2 {
        font-size: 52px;
        margin-bottom: 10px;
    }

    .home-slider-text-folder1 span,
    .home-slider-text-folder2 span {
        font-size: 26px;
    }

    .home-slider-text-folder1 p,
    .home-slider-text-folder2 p {
        font-size: 18px;
        margin: 15px 0px 26px 0px;
    }

    .Read-More {
        width: 168px;
        padding: 13px 0px;
        font-size: 17px;
    }

    .space-work-room-text,
    .Pricing-Plans {
        font-size: 18px;
        max-width: 184px;
    }

    .space-work-room-title,
    .Flexible-Workspace-InYour-City {
        font-size: 55px;
        margin: 0px auto 50px auto;
        max-width: 519px;
    }

    .space-work-room-blog-box-section,
    .flexible-price-blog-box-section {
        max-width: 554px;
    }

    .space-work-room-blog-box-section span {
        font-size: 23px;
    }

    .space-work-room-blog-box-section h2 {
        font-size: 50px;
        margin: 7px 0px 10px 0px;
    }

    .space-work-room-blog-box-section p {
        font-size: 33px;
    }

    .space-work-btn {
        width: 100%;
        font-size: 26px;
    }

    .room-price-folder {
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
    }

    .room-price-blog-box-section {
        max-width: 394px;
    }

    .room-price-image img {
        width: 123px;
    }

    .room-price-place-folder span {
        font-size: 20px;
    }

    .room-price-place-folder h2 {
        font-size: 29px;
        margin: 1px 0px 6px 0px;
    }

    .user-icon {
        font-size: 25px;
    }

    .user-enter p {
        font-size: 25px;
    }

    .room-price-btn {
        font-size: 25px;
    }

    .space-work-room-grow-folder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .passtioninspriractionwrapper {
        display: flex;
        flex-direction: column;
    }

    .passtion-inspirational-left-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }

    .passtion-inspirational-left-image1 img {
        width: 367px;
    }

    .passtion-inspirational-background {
        width: 120px;
        height: 120px;
    }

    .passtion-inspirational-logo img {
        width: 225px;
    }

    .passtion-inspirational-left-image2 img {
        width: 429px;
    }

    .passtion-inspirational-right-section {
        width: 100%;
        padding: 0px 52px;
    }

    .passtion-inspirational-text {
        font-size: 18px;
        max-width: 154px;
    }

    .passtion-inspirational-right-section h2 {
        font-size: 62px;
        margin: 10px 0px 17px 0px;
    }

    .passtion-inspirational-right-section p {
        max-width: 887px;
        font-size: 29px;
        margin-bottom: 7px;
        line-height: 47px;
    }

    .Kodesk-difference-folder1 span {
        padding: 7px 19px;
        font-size: 29px;
    }

    .Kodesk-difference-folder1 h2 {
        font-size: 32px !important;
    }

    .Kodesk-difference-folder1 a {
        font-size: 27px;
    }

    .Kodesk-difference {
        max-width: 100%;
    }

    .coworking-cities-filter-folder {
        gap: 12px;
    }

    .coworking-cities-filter-folder button {
        padding: 20px 28px;
        font-size: 24px;
    }

    .coworking-cities-folder,
    .office-envirment-folder {
        width: 815px;
    }

    .coworking-cities-folder-title {
        position: absolute;
        bottom: 7%;
        left: 2%;
        right: 0%;
        font-size: 68px;
    }

    .better-office-envirment-folder1 p {
        font-size: 18px;
        max-width: 172px;
        padding: 6px 12px;
    }

    .better-office-envirment-folder1 h2 {
        font-size: 41px;
        margin: 15px 0px 35px 0px;
    }

    .better-office-envirment-folder2 {
        font-size: 20px;
    }

    .Better-Office-Environment {
        padding: 0px 47px;
    }

    .info-blog-box-section {
        max-width: 512px;
        padding: 87px 63px;
    }

    .info-blog-box-section h2 {
        font-size: 28px;
        margin: 10px auto 11px auto;
        max-width: 256px;
    }

    .info-blog-box-section p {
        font-size: 28px;
    }

    .info-blog-box-section:nth-child(6),
    .info-blog-box-section:nth-child(7) {
        width: 512px;
    }

    .info-circle-contenar {
        max-width: 230px;
        height: 230px;
    }

    .flexible-price-folder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flexible-price-blog-box-section {
        width: 565px;
        padding: 22px;
    }

    .flexible-price-image-folder {
        width: 127px;
    }

    .flexible-price-folder1 span {
        font-size: 49px;
        position: relative;
        right: -5%;
    }

    .flexible-price-folder2 h2 {
        font-size: 42px;
    }

    .flexible-price-folder2 p,
    .flexible-price-des-folder1 p {
        font-size: 25px;
        margin-top: 7px;
    }

    .flexible-price-des-folder1 h2 {
        font-size: 19px;
    }

    .flexible-price-btn {
        padding: 18px 0px;
        margin-top: 15px;
        gap: 19px;
        font-size: 22px;
    }

    .our-gallery-image3 img {
        width: 100%;
        height: 615px;
    }

    .our-gallery-image-folder1 {
        max-width: 196px;
    }

    .our-gallery-folder2 {
        max-width: 414px;
    }

    .our-gallery-folder3 {
        max-width: 437px;
    }

    .d-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sec-title h6 {
        font-size: 18px;
    }

    .words-about-our-services-folder {
        max-width: 576px;
    }

    .words-about-our-services-image img {
        width: 64px;
    }

    .words-about-our-services-title h2 {
        font-size: 25px;
    }

    .words-about-our-services-title span {
        font-size: 20px;
    }

    .words-about-our-services-image2 img {
        width: 133px;
    }

    .words-about-our-services-blog-box-section p {
        font-size: 19px;
        max-width: 447px;
    }

    .words-about-our-services-stars a {
        font-size: 17px;
    }

    .words-about-our-services-blog-box-section {
        width: 577px !important;
    }

    .our-gallery-logo-folder {
        max-width: 771px;
    }

    .explore-latest-blog-folder {
        display: flex;
        flex-wrap: wrap;
    }

    .book-tour-folder {
        max-width: 775px;
        margin: 0px auto;
        padding: 63px 30px;
    }

    .book-tour-form {
        max-width: 503px;
        padding: 35px 25px 36px 25px;
    }

    .book-tour-form p {
        font-size: 19px;
    }

    .inner-input,
    .drop-down-menu,
    .inner-Massege {
        font-size: 20px;
    }

    .Book-tour-submit-btn-folder {
        font-size: 20px;
    }

    .user-counter-folder {
        display: flex;
        gap: 13px;
    }

    .Get-Inspired-Collaboration {
        max-width: 775px;
    }

    .Get-Inspired-Collaboration h2 {
        font-size: 43px;
    }

    .call-btn,
    .Appointment-btn {
        padding: 14px 20px;
        display: flex;
        gap: 15px;
        border-radius: 12px;
        font-size: 19px;
    }

    .footer-contenar {
        display: flex;
        gap: 49px;
    }

    .Popular-Post {
        display: none;
    }

    .explore-latest-blog-box-section {
        width: 385px;
    }

    .our-gallrey-folder {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .team-block {
        width: 414px;
    }

    .team-block-one .inner-box .content-box .text h3 {
        font-size: 29px;
    }

    .team-block-one .inner-box .content-box .text h2 {
        font-size: 34px;
    }

    .team-block-one .inner-box .content-box .text span {
        font-size: 23px;
    }

    .team-block-one .inner-box .lower-content .list>li>a {
        width: 50px;
        height: 50px;
        font-size: 30px;
        padding: 8px 0px 0px 0px;
    }

    .explore-latest-blog-box-section {
        width: 414px;
    }

    .book-tour-folder {
        max-width: 851px;
    }

    .book-tour-form {
        max-width: 498px;
    }

    .book-tour-form p {
        font-size: 22px;
    }

    .inner-input,
    .drop-down-menu,
    .inner-Massege {
        font-size: 21px;
    }

    .Book-tour-submit-btn-folder {
        font-size: 21px;
    }

    .Get-Inspired-Collaboration {
        max-width: 849px;
    }

    .footer-contenar {
        display: flex;
        gap: 66px;
    }

    .footer-logo img {
        width: 168px;
    }

    .footer-folder1 p {
        font-size: 19px;
    }

    .Company h2,
    .Support h2,
    .Solutions h2 {
        font-size: 23px;
        margin-bottom: 20px;
    }

    .Company p,
    .Support p,
    .Solutions p {
        font-size: 19px;
        margin: 7px 0px 5px;
    }

    .explore-latest-user span {
        font-size: 21px;
    }

    .user-image img {
        width: 65px;
    }

    .explore-latest-folder1 a {
        font-size: 30px;
    }

    .explore-latest-title h2 {
        font-size: 24px;
        max-width: 325px;
    }

    .explore-latest-title p {
        max-width: 322px;
        font-size: 19px;
    }

    .coworking-cities-section {
        margin-top: 100px;
    }

    .explore-latest-blog-section {
        margin: 100px 0px;
    }

    .blog-full-blog-box-section p {
        font-size: 22px;
        line-height: 42px;
    }

    .blog-full-blog-box-section span {
        font-size: 18px;
    }

    .blogfull-image-folder img {
        height: auto;
        width: 100%;
    }

    .blogfull-wrapper {
        margin: 50px auto;
        max-width: 835px;
    }


    .info-blog-box-section:nth-child(6),
    .info-blog-box-section:nth-child(7) {
        width: 337px;
    }


    .blog-full-blog-box-section p {
        font-size: 22px;
        line-height: 42px;
    }

    .blog-full-blog-box-section span {
        font-size: 18px;
    }

    .blogfull-image-folder img {
        height: auto;
        width: 100%;
    }

    .blogfull-wrapper {
        margin: 50px auto;
        max-width: 835px;
    }


    .info-blog-box-section:nth-child(6),
    .info-blog-box-section:nth-child(7) {
        width: 337px;
    }

    .passtion-inspirational-left-section .passtion-inspirational-left-folder1:nth-child(4) {
        display: none;
    }

    .passtion-inspirational-left-section .passtion-inspirational-left-folder1:nth-child(3) {
        display: none;
    }

    .passtion-inspirational-left-image1 .left-img {
        border-radius: 11px;
        display: block;
        width: 547px;
    }

    .passtion-inspirational-left-section .passtion-inspirational-left-folder1:nth-child(2) {
        margin-top: 35px;
    }
}

@media only screen and (max-width: 912px) {
    .coworking-cities-folder .slick-slide {
        width: 395px !important;
    }

    .info-blog-box-section {
        max-width: 456px;
        padding: 87px 63px;
    }
}

@media only screen and (max-width: 820px) {
    .home-slider-text-folder1 {
        position: absolute;
        top: 50%;
        right: 7%;
        transform: translateY(-50%);
        width: 361px;
        height: 361px;
        padding: 10px 21px;
    }

    .home-slider-text-folder2 {
        position: absolute;
        top: 50%;
        left: 7%;
        transform: translateY(-50%);
        width: 361px;
        height: 361px;
        padding: 10px 21px;
    }

    .home-slider-text-folder1 h2,
    .home-slider-text-folder2 h2 {
        font-size: 47px;
        margin-bottom: 10px;
    }

    .home-slider-text-folder1 span,
    .home-slider-text-folder2 span {
        font-size: 22px;
    }

    .home-slider-text-folder1 p,
    .home-slider-text-folder2 p {
        font-size: 15px;
        margin: 16px 0px 17px 0px;
    }

    .Read-More {
        width: 168px;
        padding: 13px 0px;
        font-size: 17px;
    }

    .space-work-room-text,
    .Pricing-Plans {
        font-size: 18px;
        max-width: 158px;
    }

    .space-work-room-title,
    .Flexible-Workspace-InYour-City {
        font-size: 44px;
        margin: 0px auto 50px auto;
        max-width: 403px;
    }

    .room-price-folder {
        display: flex;
        flex-wrap: wrap;
        gap: 68px;
        justify-content: center;
    }

    .room-price-blog-box-section {
        max-width: 320px;
    }

    .room-price-image img {
        width: 116px;
    }

    .room-price-place-folder span {
        font-size: 16px;
    }

    .room-price-place-folder h2 {
        font-size: 24px;
        margin: 1px 0px 6px 0px;
    }

    .user-icon {
        font-size: 21px;
    }

    .user-enter p {
        font-size: 21px;
    }

    .room-price-btn {
        font-size: 21px;
    }

    .space-work-room-grow-folder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .passtioninspriractionwrapper {
        display: flex;
        flex-direction: column;
    }

    .passtion-inspirational-left-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }

    .passtion-inspirational-left-image1 img {
        width: 367px;
    }

    .passtion-inspirational-background {
        width: 120px;
        height: 120px;
    }

    .passtion-inspirational-logo img {
        width: 225px;
    }

    .passtion-inspirational-left-image2 img {
        width: 429px;
    }

    .passtion-inspirational-right-section {
        width: 100%;
        padding: 0px 52px;
    }

    .passtion-inspirational-text {
        font-size: 18px;
        max-width: 139px;
    }

    .passtion-inspirational-right-section h2 {
        font-size: 50px;
        margin: 10px 0px 17px 0px;
    }

    .passtion-inspirational-right-section p {
        max-width: 750px;
        font-size: 24px;
        margin-bottom: 7px;
        line-height: 36px;
    }

    .Kodesk-difference-folder1 span {
        padding: 7px 15px;
        font-size: 22px;
    }

    .Kodesk-difference-folder1 h2 {
        font-size: 28px !important;
    }

    .Kodesk-difference-folder1 a {
        font-size: 23px;
    }

    .Kodesk-difference {
        max-width: 100%;
    }

    .coworking-cities-filter-folder {
        gap: 12px;
    }

    .coworking-cities-filter-folder button {
        padding: 20px 32px;
        font-size: 19px;
    }

    .coworking-cities-folder,
    .office-envirment-folder {
        width: 815px;
    }

    .coworking-cities-folder-title {
        position: absolute;
        bottom: 7%;
        left: 2%;
        right: 0%;
        font-size: 68px;
    }

    .better-office-envirment-folder1 p {
        font-size: 18px;
        max-width: 172px;
        padding: 6px 12px;
    }

    .better-office-envirment-folder1 h2 {
        font-size: 41px;
        margin: 15px 0px 35px 0px;
    }

    .better-office-envirment-folder2 {
        font-size: 20px;
    }

    .Better-Office-Environment {
        padding: 0px 20px;
    }

    .info-blog-box-section {
        max-width: 410px;
        padding: 54px 20px;
        border: 1px solid #75707226;
    }

    .info-blog-box-section h2 {
        font-size: 25px;
        margin: 10px auto 11px auto;
        max-width: 256px;
    }

    .info-blog-box-section p {
        font-size: 23px;
    }

    .info-blog-box-section:nth-child(6),
    .info-blog-box-section:nth-child(7) {
        width: 410px;
    }

    .info-circle-contenar {
        max-width: 230px;
        height: 230px;
    }

    .flexible-price-folder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flexible-price-blog-box-section {
        width: 502px;
        padding: 22px;
        margin-left: 18px;
    }

    .flexible-price-image-folder {
        width: 80px;
    }

    .flexible-price-folder1 span {
        font-size: 42px;
        position: relative;
        right: -5%;
    }

    .flexible-price-folder2 h2 {
        font-size: 37px;
    }

    .flexible-price-folder2 p,
    .flexible-price-des-folder1 p {
        font-size: 22px;
        margin-top: 7px;
    }

    .flexible-price-des-folder1 h2 {
        font-size: 19px;
    }

    .flexible-price-btn {
        padding: 18px 0px;
        margin-top: 15px;
        gap: 19px;
        font-size: 22px;
    }

    .our-gallery-image3 img {
        width: 100%;
        height: 522px;
    }

    .our-gallery-image-folder1 {
        max-width: 164px;
    }

    .our-gallery-folder2 {
        max-width: 351px;
    }

    .our-gallery-folder3 {
        max-width: 380px;
    }

    .d-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sec-title h6 {
        font-size: 18px;
    }

    .words-about-our-services-folder {
        max-width: 576px;
    }

    .words-about-our-services-image img {
        width: 64px;
    }

    .words-about-our-services-title h2 {
        font-size: 25px;
    }

    .words-about-our-services-title span {
        font-size: 20px;
    }

    .words-about-our-services-image2 img {
        width: 133px;
    }

    .words-about-our-services-blog-box-section p {
        font-size: 19px;
        max-width: 447px;
    }

    .words-about-our-services-stars a {
        font-size: 17px;
    }

    .words-about-our-services-blog-box-section {
        width: 577px !important;
    }

    .our-gallery-logo-folder {
        max-width: 771px;
    }

    .explore-latest-blog-folder {
        display: flex;
        flex-wrap: wrap;
    }

    .book-tour-folder {
        max-width: 775px;
        margin: 0px auto;
        padding: 63px 30px;
    }

    .book-tour-form {
        max-width: 503px;
        padding: 35px 25px 36px 25px;
    }

    .book-tour-form p {
        font-size: 19px;
    }

    .inner-input,
    .drop-down-menu,
    .inner-Massege {
        font-size: 20px;
    }

    .Book-tour-submit-btn-folder {
        font-size: 20px;
    }

    .user-counter-folder {
        display: flex;
        gap: 13px;
    }

    .Get-Inspired-Collaboration {
        max-width: 775px;
    }

    .Get-Inspired-Collaboration h2 {
        font-size: 43px;
    }

    .call-btn,
    .Appointment-btn {
        padding: 14px 20px;
        display: flex;
        gap: 15px;
        border-radius: 12px;
        font-size: 19px;
    }

    .footer-contenar {
        display: flex;
        gap: 49px;
    }

    .Popular-Post {
        display: none;
    }

    .explore-latest-blog-box-section {
        width: 385px;
    }

    .our-gallrey-folder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-block {
        width: 383px;
    }

    .info-blog-box-section:nth-child(6),
    .info-blog-box-section:nth-child(7) {
        width: 336px;
    }

    .info-folder {
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    .exlpore-latest-date-section {
        padding-top: 12px;
    }

    .blog-full-blog-box-section p {
        font-size: 21px;
        line-height: 40px;
    }

    .blog-full-blog-box-section span {
        font-size: 18px;
    }

    .blogfull-image-folder img {
        height: auto;
        width: 100%;
    }

    .blogfull-wrapper {
        max-width: 758px;
    }

    /* line no 2601 strat */
    .space-work-room-blog-box-section h2 {
        font-size: 41px;
        margin: 7px 0 10px;
    }

    /* line no 2601 end */
}

@media only screen and (max-width: 768px) {
    .Top-Header-section {
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .Topheaderwrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    } */

    .Top-Header-section,
    .Topheaderwrapper {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 8px;
        flex-direction: column;
        padding: 4px 0px;
        align-items: baseline;

    }

    .menu {
        display: block;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .menu li {
        margin: 5px 0px;
    }

    .menu li a {
        font-size: 30px;
    }

    .menu-title,
    .serach-folder {
        display: none;
    }

    .logo {
        width: 206px;
        margin-bottom: 15px;
    }

    .show-btn {
        position: absolute;
        top: 2%;
        right: 2%;
        font-size: 35px;
        z-index: 10;
        position: fixed;
        display: block;
    }

    .home-slider-text-folder1 p,
    .home-slider-text-folder2 p {
        font-size: 14px;
        width: 269px;
        margin: 16px auto 19px auto;
    }

    .home-slider-text-folder1,
    .home-slider-text-folder2 {
        width: 337px;
        height: 328px;
        padding: 10px 19px;
    }

    .home-slider-text-folder1 h2,
    .home-slider-text-folder2 h2 {
        font-size: 46px;
        margin-bottom: 10px;
    }

    .home-slider-text-folder1 span,
    .home-slider-text-folder2 span {
        font-size: 20px;
    }

    .home-slider-text-folder1 p,
    .home-slider-text-folder2 p {
        font-size: 14px;
        width: 284px;
        margin: 16px auto 19px auto;
    }

    .Read-More {
        width: 150px;
        padding: 13px 0px;
        font-size: 15px;
    }

    .space-work-room-title,
    .Flexible-Workspace-InYour-City,
    .flexible-price-title {
        font-size: 41px;
    }

    .space-work-room-blog-box-section {
        max-width: 449px;
    }

    .space-work-room-blog-box-section span {
        font-size: 21px;
    }

    .space-work-room-blog-box-section h2 {
        font-size: 39px;
    }

    .space-work-room-blog-box-section p {
        font-size: 26px;
    }

    .space-work-btn {
        width: 100%;
        font-size: 21px;
    }

    .space-work-room-text {
        font-size: 17px;
        max-width: 151px;
    }

    .space-work-room-grow-folder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .room-price-btn {
        font-size: 20px;
    }

    .room-price-folder {
        display: flex;
        flex-wrap: wrap;
        gap: 90px;
        justify-content: center;
    }

    .room-price-image img {
        width: 119px;
    }

    .room-price-place-folder span {
        font-size: 15px;
    }

    .room-price-place-folder h2 {
        font-size: 24px;
    }

    .user-icon {
        font-size: 19px;
    }

    .user-enter p {
        font-size: 21px;
    }

    .room-price-blog-box-section {
        max-width: 308px;
    }

    .passtioninspriractionwrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .passtion-inspirational-left-section {
        width: 100%;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .passtion-inspirational-left-folder2 {
        margin-left: 0px;
    }

    .passtion-inspirational-right-section {
        width: 100%;
        padding: 0px 40px;
    }

    .passtion-inspirational-right-section p {
        max-width: 631px;
        font-size: 22px;
        line-height: 33px;
    }

    .Kodesk-difference {
        max-width: 635px;
    }

    .Kodesk-difference-folder1 span {
        padding: 6px 14px;
        font-size: 20px;
    }

    .Kodesk-difference-folder1 h2 {
        font-size: 23px !important;
    }

    .Kodesk-difference-folder1 a {
        font-size: 21px;
    }

    .coworking-cities-filter-folder button {
        padding: 16px 16px;
        font-size: 22px;
    }

    .coworking-cities-filter-folder {
        gap: 16px;
    }

    .cowoking-cities-info {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 250px;
        padding: 30px 0px 30px 31px;
    }

    .cowoking-cities-logo img {
        width: 83px;
    }

    .cowoking-cities-info span {
        font-size: 23px;
    }

    .cowoking-cities-info p {
        font-size: 19px;
    }

    .cowoking-tour-btn a {
        font-size: 15px;
    }

    .coworking-cities-folder-title {
        position: absolute;
        bottom: 2%;
        left: 3%;
        right: 0%;
        font-size: 61px;
    }

    .coworking-cities-blog-box-section {
        max-width: 332px;
    }

    .coworking-cities-folder {
        width: 727px;
        padding-left: 30px;
    }

    .Better-Office-Environment {
        padding: 10px 21px;
    }

    .better-office-envirment-folder1 p,
    .Pricing-Plans,
    .sec-title h6 {
        font-size: 17px;
        max-width: 161px;
    }

    .better-office-envirment-folder1 h2 {
        font-size: 35px;
    }

    .better-office-envirment-folder2 {
        font-size: 19px;
    }

    .office-envirment-folder {
        max-width: 751px;
        padding-left: 9px;
    }

    .info-blog-box-section {
        max-width: 384px;
    }

    .info-blog-box-section:nth-child(6),
    .info-blog-box-section:nth-child(7) {
        width: 384px;
    }

    .info-blog-box-section h2 {
        font-size: 26px;
    }

    .info-blog-box-section p {
        font-size: 21px;
    }

    .flexible-price-btn {
        font-size: 24px;
    }

    .flexible-price-image-folder img {
        width: 75px;
    }

    .flexible-price-folder1 span {
        font-size: 34px;
        position: relative;
        right: -5%;
    }

    .flexible-price-folder2 h2 {
        font-size: 35px;
    }

    .flexible-price-folder2 p,
    .flexible-price-des-folder1 p {
        font-size: 22px;
        margin-top: 7px;
    }

    .flexible-price-des-folder1 h2 {
        font-size: 20px;
    }

    .flexible-price-folder {
        display: block;
        flex-direction: column;
        gap: 47px;
        align-items: center;
        justify-content: center;
    }

    .flexible-price-blog-box-section {
        width: 503px;
    }

    .our-gallery-image3 img {
        height: 502px;
    }

    .our-gallery-image-folder1 {
        max-width: 157px;
    }

    .our-gallery-folder2 {
        max-width: 335px;
    }

    .our-gallery-folder3 {
        max-width: 338px;
    }

    .our-gallrey-folder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-block-one {
        width: 503px;
    }

    .d-flex {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .team-block-one .inner-box .content-box .text h2 {
        font-size: 34px;
    }

    .team-block-one .inner-box .content-box .text h3 {
        font-size: 26px;
    }

    .team-block-one .inner-box .lower-content .list>li>a {
        width: 51px;
        height: 51px;
        font-size: 23px;
        padding: 6px;
    }

    .designation {
        font-size: 20px;
    }

    .words-about-our-services-image2 img {
        width: 123px;
    }

    .words-about-our-services-blog-box-section {
        width: 547px !important;
        padding: 0px 0px 31px 41px;
    }

    .words-about-our-services-image img {
        width: 59px;
    }

    .words-about-our-services-title h2 {
        font-size: 24px;
    }

    .words-about-our-services-title span {
        font-size: 19px;
    }

    .words-about-our-services-blog-box-section p {
        font-size: 19px;
        max-width: 433px;
    }

    .words-about-our-services-stars a {
        font-size: 18px;
    }

    .words-about-our-services-folder {
        max-width: 583px;
    }

    .our-gallery-logo-folder {
        max-width: 724px;
    }

    .explore-latest-blog-box-section {
        width: 425px;
    }

    .user-image img {
        width: 57px;
    }

    .explore-latest-user span {
        font-size: 20px;
    }

    .explore-latest-folder1 a {
        font-size: 28px;
        padding: 14px 18px;
    }

    .explore-latest-title h2 {
        font-size: 25px;
        max-width: 345px;
    }

    .explore-latest-title p {
        max-width: 341px;
        font-size: 19px;
    }

    .explore-latest-btn a {
        font-size: 17px;
    }

    .explore-latest-blog-folder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .explore-latest-folder1 {
        gap: 27px;
    }

    .book-tour-folder {
        max-width: 728px;
        background-position: center;
    }

    .book-tour-form p {
        font-size: 19px;
    }

    .book-tour-form {
        max-width: 510px;
    }

    .inner-input,
    .input-icons,
    .drop-down-menu,
    .inner-Massege {
        font-size: 19px;
    }

    .Book-tour-submit-btn-folder {
        font-size: 20px;
    }

    .user-counter-blog-box-section span {
        font-size: 28px;
    }

    .user-counter-blog-box-section h2 {
        font-size: 17px;
    }

    .user-counter-blog-box-section p {
        font-size: 15px;
    }

    .user-counter-folder {
        gap: 12px;
    }

    .Get-Inspired-Collaboration {
        max-width: 700px;
        padding: 85px 0px;
    }

    .Get-Inspired-Collaboration span {
        font-size: 17px;
    }

    .Get-Inspired-Collaboration h2 {
        font-size: 35px;
        margin: 15px 0px 25px 0px;
    }

    .call-btn,
    .Appointment-btn {
        font-size: 17px;
    }

    .passtion-inspirational-right-section h2 {
        font-size: 43px;
    }

    .footer-contenar {
        gap: 38px;
        height: 540px;
    }

    .Popular-Post {
        display: none;
    }

    .team-block {
        width: auto;
    }

    .coworking-cities-folder .slick-slide {
        width: 349px !important;
    }

    .Top-Header-section-folder {
        display: none;
    }

    .brand_logos {
        width: auto;
    }

    .explore-latest-title {
        padding: 0px 14px;
    }

    .words-about-our-services-conternar {
        margin-top: 8px;
    }

    .slick-next:before,
    .slick-prev:before {
        color: #000;
    }

    .slick-prev {
        left: 40%;
    }

    .slick-next {
        right: 46%;
    }

    .slick-next,
    .slick-prev {
        bottom: -12%;
        top: auto;
    }

    .call-container {
        position: fixed;
        bottom: 0%;
        z-index: 10;
        display: flex;
        background: black;
        color: white;
        width: 100%;
        background: var(--gredient-color);
    }

    .call-folder {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding: 11px 0px;
    }

    .call-folder a {
        color: white;
        font-size: 17px;
        display: flex;
        gap: 10px;
    }

    .call-folder a i {
        font-size: 16px;
        margin-top: 3px;
    }

    .call-folder p {
        font-size: 18px;
        color: white;
    }

    .call-section {
        display: block;
    }

    .call-folder a .fa-whatsapp {
        color: #fff;
        background: linear-gradient(#25d366, #25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%, transparent 0);
    }

    .rsc {
        display: none;
    }

    .footer-copy .d-flex {
        margin-top: 60px;
    }

    .info-blog-box-section:nth-child(6),
    .info-blog-box-section:nth-child(7) {
        width: 338px;
    }

    .blog-full-blog-box-section p {
        font-size: 20px;
        line-height: 33px;
    }

    .blogfull-wrapper {
        max-width: 707px;
    }

    .blog-full-blog-box-section span {
        font-size: 18px;
    }

    .blogfull-image-folder img {
        height: auto;
        width: 100%;
    }

    .space-work-image img {
        height: 295px;
        width: 100%;
    }

    .flexible-price-blog-box-section {
        margin-left: auto;
        padding: 22px;
        width: 503px !important;
    }

    .flexible-price-folder {
        display: block;
        max-width: 555px;
    }

    .passtion-inspirational-left-section .passtion-inspirational-left-folder1:nth-child(2) {
        bottom: 12%;
        left: 0%;
        position: relative;
        z-index: 6;
        margin-top: 38px;
    }

    .passtion-inspirational-left-section .passtion-inspirational-left-folder1:nth-child(4) {
        display: none;
    }

    .passtion-inspirational-left-section .passtion-inspirational-left-folder1:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-width: 767px) {

    .home-slider-text-folder1,
    .home-slider-text-folder2 {
        position: absolute;
        top: 50%;
        left: 0%;
        right: 0%;
        margin: auto;
        transform: translateY(-50%);
        width: 312px;
        height: 312px;
        padding: 10px 0px;
        opacity: 0.9;
        border-radius: 7%;
        display: none;
    }

    .home-slider-image img {
        width: 100%;
        height: 200px;
    }

    .home-slider-text-folder1 h2,
    .home-slider-text-folder2 h2 {
        font-size: 41px;
    }

    .home-slider-text-folder1 span,
    .home-slider-text-folder2 span {
        font-size: 18px;
    }

    .space-work-room-text {
        font-size: 13px;
        max-width: 120px;
    }

    .space-work-room-title,
    .Flexible-Workspace-InYour-City,
    .flexible-price-title,
    .sec-title h2 {
        font-size: 31px;
        max-width: 304px;
        margin: auto;
        margin-bottom: 25px;
        line-height: 46px;
    }

    .space-work-room-blog-box-section span {
        font-size: 16px;
    }

    .space-work-room-blog-box-section h2 {
        font-size: 29px;
    }

    .space-work-room-blog-box-section p {
        font-size: 20px;
    }

    .space-work-btn {
        padding: 11px 0px;
        font-size: 19px;
    }

    .room-price-folder {
        gap: 43px;
    }

    .room-price-image img {
        width: 98px;
    }

    .passtion-inspirational-left-image1 img {
        width: 174px;
    }

    .passtion-inspirational-left-image1 {
        border: 11px solid white;
    }

    .passtion-inspirational-background {
        width: 70px;
        height: 70px;
    }

    .passtion-inspirational-logo img {
        width: 121px;
    }

    .passtion-inspirational-left-section .passtion-inspirational-left-folder1:nth-child(2) {
        left: 0%;
    }

    .passtion-inspirational-left-section .passtion-inspirational-left-folder1:nth-child(3) {
        display: none;
    }

    .passtion-inspirational-left-section .passtion-inspirational-left-folder1:nth-child(4) {
        display: none;
    }

    .passtion-inspirational-left-image2 img {
        width: 229px;
    }

    .passtion-inspirational-text {
        font-size: 15px;
        max-width: 124px;
    }

    .passtion-inspirational-right-section h2 {
        font-size: 2rem;
    }

    .passtion-inspirational-right-section p {
        max-width: 381px;
        font-size: 1.2rem;
        line-height: 25px;
    }

    .Kodesk-difference-folder1 a {
        font-size: 12px;
    }

    .Kodesk-difference-folder1 h2 {
        font-size: 17px !important;
        margin: 10px 0px 15px 0px;
    }

    .Kodesk-difference-folder1 span {
        padding: 6px 12px;
        font-size: 14px;
    }

    .passtion-inspirational-right-section {
        padding: 40px 10px 0px 10px;
    }

    .passtion-inspirational-left-folder2 {
        margin-top: 0px;
    }

    .coworking-cities-filter-folder {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .coworking-cities-filter-folder button {
        padding: 12px 11px;
        font-size: 14px;
    }

    .coworking-cities-folder-title {
        font-size: 59px;
    }

    .coworking-cities-folder {
        width: 321px;
        padding-left: 0px;
    }

    .cowoking-cities-info {
        padding: 26px 0px 26px 28px;
    }

    .Better-Office-Environment {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .better-office-envirment-folder1 p,
    .Pricing-Plans,
    .sec-title h6 {
        font-size: 12px;
        max-width: 120px;
        padding: 9px 12px;
    }

    .Pricing-Plans {
        margin-bottom: 15px;
    }

    .better-office-envirment-folder1 h2 {
        font-size: 25px;
        margin: 15px 0px 18px 0px;
    }

    .better-office-envirment-folder2 {
        font-size: 13px;
        padding: 11px 17px;
    }

    .office-envirment-des {
        margin-top: 202px;
    }

    .office-envirment-des-folder {
        width: 313px;
    }

    .office-envirment-folder,
    .words-about-our-services-folder {
        max-width: 346px;
        padding-left: 0px;
        margin-top: 40px;
    }

    .info-blog-box-section {
        max-width: 359px;
    }

    .info-folder {
        margin-top: 62px;
    }

    .flexible-price-blog-box-section,
    .team-block-one,
    .space-work-room-blog-box-section,
    .our-gallery-logo-folder,
    .explore-latest-blog-box-section,
    .book-tour-folder,
    .user-counter-blog-box-section,
    .Get-Inspired-Collaboration {
        width: 340px;
    }

    .flexible-price-image-folder img {
        width: 50px;
    }

    .flexible-price-folder1 span {
        font-size: 27px;
        position: relative;
        right: -7%;
        /* top: 5px; */
        top: 10px;
    }

    .flexible-price-folder2 h2 {
        font-size: 26px;
    }

    .flexible-price-folder2 p,
    .flexible-price-des-folder1 p {
        font-size: 18px;
    }

    .flexible-price-des-folder1 h2 {
        font-size: 17px;
    }

    .flexible-price-btn {
        font-size: 19px;
    }

    .flexible-price-folder {
        margin-top: 50px;
    }

    .our-gallery-blog-box-section {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .team-block-one .inner-box .content-box .text h2 {
        font-size: 31px;
    }

    .team-block-one .inner-box .lower-content .list>li>a {
        width: 45px;
        height: 45px;
        font-size: 19px;
    }

    .team-block-one .inner-box .content-box .text h3 {
        font-size: 21px;
    }

    .words-about-our-services-image2 img {
        width: 84px;
    }

    .words-about-our-services-blog-box-section {
        width: 346px !important;
        padding: 0px 0px 30px 41px;
    }

    .words-about-our-services-image img {
        width: 44px;
    }

    .words-about-our-services-title h2 {
        font-size: 17px;
    }

    .words-about-our-services-title span {
        font-size: 15px;
    }

    .words-about-our-services-blog-box-section p {
        font-size: 13px;
        max-width: 291px;
        margin: 0px 0px 8px 0px;
    }

    .words-about-our-services-stars a {
        font-size: 15px;
    }

    .explore-latest-user span {
        font-size: 15px;
    }

    .user-image img {
        width: 42px;
    }

    .explore-latest-folder1 a {
        font-size: 20px;
        padding: 11px 15px;
    }

    .explore-latest-title h2 {
        font-size: 22px;
    }

    .exlpore-latest-date-section {
        margin: 15px 0px;
    }

    .input-contenar {
        display: flex;
        flex-direction: column;
    }

    .input-folder {
        max-width: 100%;
        position: relative;
    }

    .book-tour-form h2 {
        font-size: 39px;
    }

    .book-tour-form p {
        font-size: 15px;
    }

    .user-counter-folder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-counter-blog-box-section span {
        font-size: 41px;
    }

    .user-counter-blog-box-section h2 {
        font-size: 21px;
    }

    .user-counter-blog-box-section p {
        font-size: 20px;
    }

    .Get-Inspired-Collaboration span {
        font-size: 14px;
    }

    .Get-Inspired-Collaboration h2 {
        font-size: 29px;
    }

    .get-collabration-btns {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        max-width: 252px;
    }

    .call-btn,
    .Appointment-btn {
        display: flex;
        justify-content: center;
    }

    .footer-contenar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0px 0px 30px 15px;
        gap: 28px;
        height: 1299px;
    }

    .info-blog-box-section {
        max-width: 100%;
    }

    .info-blog-box-section:nth-child(6),
    .info-blog-box-section:nth-child(7) {
        /* width: 100%; */
        width: 334px;
    }

    .footer-folder1 p {
        margin: 12px 0px 36px 0px;
    }

    .footer-logo img {
        width: 118px;
    }

    .explore-latest-blog-section {
        margin: 100px 0px;
    }

    .team-block {
        width: auto;
    }

    .coworking-cities-folder .slick-slide {
        width: 321px !important;
    }

    .logo {
        width: 173px;
        margin-bottom: 5px;
    }

    /* .menu li {
      margin: 1px 0px;
    } */
    .menu li {
        border-bottom: 1px solid #808080;
        text-align: center;
        padding: 10px 0px 10px 0px;
    }

    .menu li a {
        font-size: 25px;
    }

    .show-btn {
        font-size: 25px;
    }

    .gallery-img {
        width: 300px;
        height: auto;
    }

    .menu li:nth-child(5) {
        border-bottom: none;
        border-bottom: none !important;
    }

    .blog-full-blog-box-section h2 {
        margin: 0px 0px 10px 26px;
    }

    .blog-full-blog-box-section span {
        margin-left: 25px;
    }

    .blogfull-image-folder img {
        height: auto;
    }

    .blog-full-blog-box-section p {
        margin: 0 10px;
    }

    .flexible-price-blog-box-section {
        margin-left: 0px;
        padding: 22px;
        width: 502px;
        margin: 0px auto;
        max-width: 328px;
    }

    .flexible-price-folder1 span {
        font-size: 19px;
        position: relative;
        right: -8%;
        top: -243px;
    }

    .better-office-envirment-folder1 {
        margin: 0px auto;
    }

    .blogfull-wrapper {
        margin: 50px auto;
        max-width: 340px;
    }

    .blogfull-image-folder img {
        width: 100%;
        height: auto;
    }

    .blogfull-image-folder {
        margin: 22px 0 35px;
    }

    .blog-full-blog-box-section p {
        font-size: 16px;
        line-height: 33px;
    }

    .exlpore-latest-date-section {
        margin: 14px 0;
        padding-top: 15px;
    }
}